extends A-layout

block content


    a(href='admin')
        button Back

    each Value in singleCases
        h4 ----------------------
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }
        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }
        tr:nth-child(even) {
        background-color: #dddddd;
        }
       table
        tr
         th Name
         th Value
        tr
         td id
         td #{Value._id}
        tr
         td Gender
         td #{Value.Gender}
        tr
         td Age
         td #{Value.Age}
        tr
         td Symptoms
         td #{Value.Symptom}
        tr
         td Confirmed_Date
         td #{Value.Confirmed_Date}
        tr
         td Living_City
         td #{Value.Living_City}
        //div id:#{Value._id}
        //div Gender: #{Value.Gender}
        //div Age: #{Value.Age}
        //div Symptoms: #{Value.Symptom}
        //div Confirmed_Date: #{Value.Confirmed_Date}
        //div Living_City: #{Value.Living_City}
        h4 ----------------------
