a(href='admin')
    button Back

each Value in singleCases
    h4 ----------------------
    div id:#{Value._id}
    div Gender: #{Value.Gender}
    div Age: #{Value.Age}
    div Symptoms: #{Value.Symptom}
    div Confirmed_Date: #{Value.Confirmed_Date}
    div Living_City: #{Value.Living_City}
    h4 ----------------------