extends A-layout

block content

    .main_content3
        a(href='admin')
            button Back
        br
        br
        each Value in singleCases
            table.center
                tr
                    th Name
                    th Value
                tr
                    td id
                    td #{Value._id}
                tr
                    td Gender
                    td #{Value.Gender}
                tr
                    td Age
                    td #{Value.Age}
                tr
                    td Symptoms
                    td #{Value.Symptom}
                tr
                    td Confirmed_Date
                    td #{Value.Confirmed_Date}
                tr
                    td Living_City
                    td #{Value.Living_City}
            br
            br