extends A-layout

block content
    .main_content3
        .delete
            h2 #{output2}
            h2 Delete Overview Data
            form(action='/admin/deleteSingle',method='post',name='singleCaseDelete')
                fieldset
                    legend Total Case ID
                    br
                    div.form-group
                        label(for='_id') ID
                        input#_id(type='text', name='id')
                        br
                        button(onclick='showmsg()',type='submit') DELETE

        br
        br
        a(href='admin')
            button Back
        br
        br
        each val in totalCases
            table.center
                tr
                    th Name
                    th Value
                tr
                    td id
                    td #{val._id}
                tr
                    td Date
                    td #{val.Date}
                tr
                    td Accumulate Confirmed Cases
                    td #{val.Accumulate_Confirmed_Cases}
                tr
                    td Current Existing Cases
                    td #{val.Current_Existing_Cases}
                tr
                    td Accumulate Deaths
                    td #{val.Accumulate_Deaths}
                tr
                    td Accumulate Cured_Cases
                    td #{val.Accumulate_Cured_Cases}
            br
            br
